<mat-list>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Recherche</mat-label>
    <input matInput #searchBox type="text" (input)="searchPok(searchBox.value)" >
  </mat-form-field>
  <mat-nav-list [scrollWindow]="false" infinite-scroll (scrolled)="onScroll()">
  <mat-list-item *ngFor="let pokemon of pokemons" routerLink="/pokemon/{{ pokemon.id }}" routerLinkActive="router-link-active" class="item" >
    <img matListAvatar src="../assets/img/sprites/{{ pokemon.id }}.png" alt="...">
    <p matLine>
      <span> {{ pokemon.id }} </span>
      <span class="demo-2">. {{ pokemon.name }} </span>
    </p>
  </mat-list-item>
</mat-nav-list>
</mat-list>
